node_modules/
dist/

# env files
.env
.env.*
*.env
backend/.env
backend/.env.example


# Python
python-worker/venv/
python-worker/DrugCLIP/weights/
python-worker/DrugCLIP/checkpoints/
python-worker/.emb_cache/
*.lmdb
__pycache__/
*.pyc

# IDE / OS
.cursor/
.DS_Store
